# Data classes

    Introduced in python 3.7 (with PEP 557) to reduce the boilerplate code

In [12]:
from dataclasses import dataclass

In [8]:
class UsingRegularClass:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"{self.__class__.__name__}(name={self.name!r}, age={self.age!r})"


a1 = UsingRegularClass("Udhay", 30)
print(a1)

a2 = UsingRegularClass("Prakash", 40)
print(a2)

UsingRegularClass(name='Udhay', age=30)
UsingRegularClass(name='Prakash', age=40)

In [9]:
a1 == a2

False

In [10]:
class UsingRegularClass:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __repr__(self):
        return f"{self.__class__.__name__}(name={self.name!r}, age={self.age!r})"

    def __lt__(self, other):
        return self.age < other.age

    def __eq__(self, other):
        if other.__class__ is not self.__class__:
            return NotImplemented
        return (self.name, self.age) == (other.name, other.age)


a1 = UsingRegularClass("Udhay", 30)
print(a1)

a2 = UsingRegularClass("Prakash", 40)
print(a2)
print(f"{a1 == a2 =}")  # a1.__eq__(a2)

UsingRegularClass(name='Udhay', age=30)
UsingRegularClass(name='Prakash', age=40)
a1 == a2 =False

In [14]:
@dataclass
class ArithmeticOperations:
    num1: int
    num2: int  #  it is instance varible. Not class variable


a = ArithmeticOperations(123, 345)
a

ArithmeticOperations(num1=123, num2=345)

In [15]:
@dataclass
class ArithmeticOperations:
    num1: int
    num2: int  #  it is instance varible. Not class variable

    def addition(self):
        return self.num1 + self.num2



a = ArithmeticOperations(123, 345)
print(f"a.addition():{a.addition()}")

a.addition():468

In [16]:
@dataclass
class ArithmeticOperations1:
    def addition(self, num1, num2):
        return num1 + num2


a = ArithmeticOperations1()
print(f"a.addition(123, 345):{a.addition(123, 345)}")

a.addition(123, 345):468

###  Another example

In [17]:
@dataclass()
class Foo(object):
    x: int


f = Foo(12)
print(f"{f.x =}")

f.x =12

In [18]:
f.x = 1
f.y = 12  # Adding new attrbute to instance

In [19]:
try:
    print(hash(f))
except Exception as ex:
    print(ex)
    print("This instance is mutable. So, hash cant be created")

unhashable type: 'Foo'
This instance is mutable. So, hash cant be created

### Frozen dataclasses

In [20]:
@dataclass(frozen=True)
class Foo2(object):
    x: int

f = Foo2(12)
print(f"{f.x =}")

f.x =12

In [21]:
f.x = 1  # Cant modify the value from this class instance

FrozenInstanceError: cannot assign to field 'x'

In [22]:
f.y = 12  # Adding new attrbute to instance

FrozenInstanceError: cannot assign to field 'y'

In [23]:
hash(f)

-860454829093830431

In [24]:
# NOTE: Namedtuples are also dataclasses, but immutable by default

### default values in dataclasses

In [25]:
from dataclasses import asdict, astuple, dataclass

@dataclass
class Book(object):
    title: str
    author: str
    price: float = 20  # default value



b = Book("Python", "Mark Lutz")
print(f"{vars(b)   =}")
print(f"{asdict(b) =}")

print(f"{astuple(b)=}")

vars(b)   ={'title': 'Python', 'author': 'Mark Lutz', 'price': 20}
asdict(b) ={'title': 'Python', 'author': 'Mark Lutz', 'price': 20}
astuple(b)=('Python', 'Mark Lutz', 20)

### fields in dataclasses

In [26]:
import random
from dataclasses import dataclass, field


def random_price():
    return random.randint(20, 100)


@dataclass
class Book(object):
    title: str
    author: str
    price: float = field(default_factory=random_price)

In [27]:

b = Book("Python programming", "David Beazley")
print(vars(b))

b = Book("Python programming", "David Beazley")
print(vars(b))

{'title': 'Python programming', 'author': 'David Beazley', 'price': 44}
{'title': 'Python programming', 'author': 'David Beazley', 'price': 53}

In [28]:
# Note that you cannot both set default_factory and a default value; the whole point is that
# default_factory lets you run a function and, thus, provides the value dynamically, when the new instance is created.

### comparisions on dataclasses

In [29]:
@dataclass(init=True, repr=True, eq=True, order=True, unsafe_hash=False, frozen=False)
class Book(object):
    title: str
    author: str


# order: By default __gt__ , __ge__, __lt__, __le__ methods will be generated.
# If passed as False, they are omitted.

In [30]:
b1 = Book("python proa", "MArk Lutz")
b2 = Book("python asd", "MArk Lutz")
b3 = Book("python fd", "MArk Lutz")

print(f"{b1 <= b2 < b3 =}")

b1 <= b2 < b3 =False

### Dynamic classes

In [31]:
from dataclasses import dataclass, make_dataclass

# creating a class
Position = make_dataclass("Position", ["name", "lat", "lon"])
print(type(Position))

<class 'type'>

In [32]:
p = Position("place", 45, 56)
print(vars(p))

{'name': 'place', 'lat': 45, 'lon': 56}

In [33]:
p = Position("place", 45, 56)
print(vars(p))

{'name': 'place', 'lat': 45, 'lon': 56}

In [34]:
from typing import Any


@dataclass
class WithoutExplicitTypes:
    name: Any
    value: Any = 42


m = WithoutExplicitTypes(3.14, "somethng")
print(vars(m))

{'name': 3.14, 'value': 'somethng'}

### composition pattern

In [35]:
from typing import List 


@dataclass
class PlayingCard:
    rank: str
    suit: str


@dataclass
class Deck:
    cards: List[PlayingCard]


queen_of_hearts = PlayingCard("Q", "Hearts")
ace_of_spades = PlayingCard("A", "Spades")

two_cards = Deck([queen_of_hearts, ace_of_spades])
print(two_cards)
print(vars(two_cards))

Deck(cards=[PlayingCard(rank='Q', suit='Hearts'), PlayingCard(rank='A', suit='Spades')])
{'cards': [PlayingCard(rank='Q', suit='Hearts'), PlayingCard(rank='A', suit='Spades')]}

### Inheritance

In [36]:
@dataclass
class Position:
    name: str
    lon: float
    lat: float


@dataclass
class Capital(Position):
    country: str


c = Capital("Oslo", 10.8, 59.9, "Norway")
print(c)
print(vars(c))

Capital(name='Oslo', lon=10.8, lat=59.9, country='Norway')
{'name': 'Oslo', 'lon': 10.8, 'lat': 59.9, 'country': 'Norway'}

### _keyword_only_dataclasses

In [42]:
from dataclasses import KW_ONLY, dataclass, field
from datetime import datetime


@dataclass(kw_only=True)
class Birthday:
    name: str
    birthday: datetime.date

In [43]:
b1 = Birthday("GudoVan", datetime.now().date())

TypeError: Birthday.__init__() takes 1 positional argument but 3 were given

In [44]:
b1 = Birthday(name = "GudoVan", birthday = datetime.now().date())
b1

Birthday(name='GudoVan', birthday=datetime.date(2025, 1, 15))

In [47]:
@dataclass
class Birthday2:
    name: str
    birthday: datetime.date = field(kw_only=True)


b2 = Birthday2("GudoVan", birthday = datetime.now().date())
b2

Birthday2(name='GudoVan', birthday=datetime.date(2025, 1, 15))

In [48]:
@dataclass
class Point:
    x: float
    y: float
    _: KW_ONLY
    z: float = 0.0
    t: float = 0.0


p1 = Point(10, 20, )
p1

Point(x=10, y=20, z=0.0, t=0.0)

In [49]:
p1 = Point(10, 20, 30, 40)
p1

TypeError: Point.__init__() takes 3 positional arguments but 5 were given

In [50]:
p1 = Point(10, 20, z=30, t=40)
p1

Point(x=10, y=20, z=30, t=40)