# Tuple

In [1]:
mylist = [12, 34.8, 500000, [6, 8], (5,)]
print("type(mylist)", type(mylist))
print("len(mylist)", len(mylist))


mytuple = (12, 34.8, 500000, [6, 8], (5,))
print("\ntype(mytuple)", type(mytuple))
print("len(mytuple)", len(mytuple))
print(mytuple)

type(mylist) <class 'list'>
len(mylist) 5

type(mytuple) <class 'tuple'>
len(mytuple) 5
(12, 34.8, 500000, [6, 8], (5,))

In [2]:
another_tuple = (99.9)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'float'>

TypeError: object of type 'float' has no len()

In [5]:
result = (99.9)
print(type(result), result)

result = (99.9 + 232 / 322 * 23) * 4
print(type(result), result)

<class 'float'> 99.9
<class 'float'> 465.8857142857143

In [6]:
another_tuple = (99.9,)
print("type(another_tuple)", type(another_tuple))
print("len(another_tuple) ", len(another_tuple))

type(another_tuple) <class 'tuple'>
len(another_tuple)  1

In [7]:
another_tuple

(99.9,)

In [8]:
# NOTE: For tuple with single element, place comma at the end
# to recognize it as tuple; else recognizes as individual element

In [9]:
empty_tuple = ()  # tuple()
print("type(empty_tuple):", type(empty_tuple))
print("len(empty_tuple) :", len(empty_tuple))

type(empty_tuple): <class 'tuple'>
len(empty_tuple) : 0

In [10]:
mytuple = 1, 2, 3
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 3
(1, 2, 3)

In [12]:
mytuple = 1,
print("type(mytuple)    :", type(mytuple))
print("len(mytuple)     :", len(mytuple))
print(mytuple)

type(mytuple)    : <class 'tuple'>
len(mytuple)     : 1
(1,)

## Attributes

In [13]:
mytuple = (12, 5, 6, 8, (5,))
print(dir(mytuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [14]:
print("len(mytuple)           =", len(mytuple))
print("mytuple.__len__()      =", mytuple.__len__())
assert len(mytuple) == mytuple.__len__()

len(mytuple)           = 5
mytuple.__len__()      = 5

In [15]:
print("str(mytuple)           =", str(mytuple))
print("type(str(mytuple))     =", type(str(mytuple)))
print("mytuple.__str__()      =", mytuple.__str__())
print("type(mytuple.__str__())=", type(mytuple.__str__()))
assert str(mytuple) == mytuple.__str__()

str(mytuple)           = (12, 5, 6, 8, (5,))
type(str(mytuple))     = <class 'str'>
mytuple.__str__()      = (12, 5, 6, 8, (5,))
type(mytuple.__str__())= <class 'str'>

In [16]:
# Tuple repetition operation - original object not modified
print()
print("mytuple * 3            =", mytuple * 3)
print("mytuple                =", mytuple)
print("mytuple.__mul__(3)     =", mytuple.__mul__(3))
print("mytuple                =", mytuple)

mytuple * 3            = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))
mytuple.__mul__(3)     = (12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,), 12, 5, 6, 8, (5,))
mytuple                = (12, 5, 6, 8, (5,))

In [17]:
mytuple.__imul__(3)

AttributeError: 'tuple' object has no attribute '__imul__'

In [18]:
print(f"{mytuple  == (12, 5, 6, 8, (5,))     = }")
print(f"{mytuple.__eq__((12, 5, 6, 8, (5,))) = }")

mytuple  == (12, 5, 6, 8, (5,))     = True
mytuple.__eq__((12, 5, 6, 8, (5,))) = True

In [19]:
print("\n Tuple Attributes excluding dunder methods")
for each_attribute in dir(mytuple):
    if not each_attribute.startswith("__"):
        print(each_attribute)

 Tuple Attributes excluding dunder methods
count
index

In [20]:
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, (5,))
mytuple.count(5)       = 1

In [21]:
mytuple = (12, 5, 6, 8, (5))
#          0   1  2  3   4
print("mytuple                =", mytuple)
print("mytuple.count(5)       =", mytuple.count(5))

mytuple                = (12, 5, 6, 8, 5)
mytuple.count(5)       = 2

In [22]:
print("mytuple.index(8)       =", mytuple.index(8))
print("mytuple.index(5)       =", mytuple.index(5))

mytuple.index(8)       = 3
mytuple.index(5)       = 1

In [23]:
try:
    print("mytuple.index(55)      =", mytuple.index(55))
except ValueError as ex:
    print(ex)

tuple.index(x): x not in tuple

## Tuple operations

In [ ]:
# Tuple concatenation

# Python is strictly type language
#   - operation is possible with same/similar types only
result = (9, 99) + (99,)
print("result   :", result)
 
result = ((9, 99) + (99,),)   # + is having more priority than , 
print("result   :", result)

result   : (9, 99, 99)
result   : ((9, 99, 99),)

In [25]:
result = (9, 99) + (99,),,

SyntaxError: invalid syntax (3965477775.py, line 1)

In [26]:
result = (9, 99) + ((99,),),
print("result   :", result)

result   : ((9, 99, (99,)),)

In [27]:
result = (9, 99) + (11, 1)
print("result   :", result)

result   : (9, 99, 11, 1)

In [28]:
result = (9, 99) + [11, 1]

TypeError: can only concatenate tuple (not "list") to tuple

In [29]:
result = (9, 99) + tuple([11, 1])
print("result   :", result)

result = list((9, 99)) + [11, 1]
print("result   :", result)

result   : (9, 99, 11, 1)
result   : [9, 99, 11, 1]

In [30]:
# working on strings
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

In [31]:
# Tuple repetition
print(f"{(1,) * 3      =}")
print(f"{(1, 2) * 3    =}")
print(f"{(1, (2,)) * 3 =}")

(1,) * 3      =(1, 1, 1)
(1, 2) * 3    =(1, 2, 1, 2, 1, 2)
(1, (2,)) * 3 =(1, (2,), 1, (2,), 1, (2,))

In [32]:
# Assignment
# 1. Prove that tuple concatenation is not commutative: t1 + t2 != t2 + t1
# 2. Prove that tuple repetition is commutative       : t1 * 3 == 3 * t1

## Immutability

    - Tuple doesnt support in-object changes

In [ ]:
mytuple = (1, 2, 3)
print("mytuple", mytuple, id(mytuple))

mytuple (1, 2, 3) 134052914683712

In [34]:
#  Indexing
print(f"{mytuple[2] =}")

mytuple[2] =3

In [ ]:
# updating an element in tuple
try:
    mytuple[2] = "2.2222"
except TypeError as ex:
    print(ex)
    print("tuple objects are not editable")

'tuple' object does not support item assignment
tuple objects are not editable

In [36]:
# Overwriting
print("\noverwriting (re-assigning)")
mytuple = (1, "2.2222", 3)
print("mytuple", mytuple, id(mytuple))

overwriting (re-assigning)
mytuple (1, '2.2222', 3) 134052915019840

## Named Tuples


    Named Tuples can be:
        1. access by index - like normal tuples
        2. access by keyname - like dictionaries
        3. using getattr()

In [37]:
student_details = ("Arjun", 26, "23/07/1992")
#                    0      1         2
print(f"{type(student_details)=}")
print(f"{student_details      =}")

# Accessing Values - using index
print("Student Name:", student_details[0])
print("Student Age :", student_details[1])
print("Student DOB :", student_details[2])

type(student_details)=<class 'tuple'>
student_details      =('Arjun', 26, '23/07/1992')
Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [39]:
import collections

print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [ ]:
# Step 1: created Named Tuple object
Students = collections.namedtuple("Students", ("name", "age", "dob"))
Students

__main__.Students

In [42]:
Students("Arjun", 26, "23/07/1992")

Students(name='Arjun', age=26, dob='23/07/1992')

In [43]:
# Step 2: create tuples using that object
student_details2 = Students("Arjun", 26, "23/07/1992")

In [44]:
type(student_details2)

__main__.Students

In [45]:
# Accessing Values - using index
print()
print("Student Name:", student_details2[0])
print("Student Age :", student_details2[1])
print("Student DOB :", student_details2[2])

# Accssing Values - using position names
print()
print("Student Name:", student_details2.name)
print("Student Age :", student_details2.age)
print("Student DOB :", student_details2.dob)

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

Student Name: Arjun
Student Age : 26
Student DOB : 23/07/1992

In [46]:
dir(student_details2)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__match_args__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_make',
 '_replace',
 'age',
 'count',
 'dob',
 'index',
 'name']

In [47]:
print(f"{getattr(student_details2, 'name') =}")
assert student_details2.name == getattr(student_details2, "name")
assert student_details2.age == getattr(student_details2, "age")
assert student_details2.dob == getattr(student_details2, "dob")

getattr(student_details2, 'name') ='Arjun'

In [48]:
student_details2[4]

IndexError: tuple index out of range

In [50]:
if len(student_details2) >= 5:
    print(student_details2[4])

In [49]:
student_details2.full_name

AttributeError: 'Students' object has no attribute 'full_name'

In [52]:
getattr(student_details2, 'full_name')

AttributeError: 'Students' object has no attribute 'full_name'

In [53]:
print(f"{'full_name' in dir(student_details2) = }")
print(f"{hasattr(student_details2, 'full_name') =}")

'full_name' in dir(student_details2) = False
hasattr(student_details2, 'full_name') =False

In [54]:
if hasattr(student_details2, "full_name"):
    getattr(student_details2, "full_name")

if hasattr(student_details2, "dob"):
    print(f"{getattr(student_details2, 'dob') =}")

getattr(student_details2, 'dob') ='23/07/1992'

In [55]:
# Named Tuples are also immutable
# student_details2[1] = 45            # TypeError: 'Students' object does not support item assignment
# student_details2.age = 45           # AttributeError: can't set attribute
# setattr(student_details2, 'age', 45)  # AttributeError: can't set attribute

## Unpacking
    
    - works when same no. of variables and values are present on both sides

In [56]:
num1 = 12
num2 = 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [57]:
# unpacking
num1, num2 = 12, 34
print(f"num1 = {num1}  num2 = {num2}")

num1 = 12  num2 = 34

In [58]:
p1, p2, p3, p4, p5 = 99, 88, 66, 77, 44
print(f"p1 = {p1}  p2 = {p2} p3 = {p3} p4 = {p4} p5 = {p5}")

p1 = 99  p2 = 88 p3 = 66 p4 = 77 p5 = 44

In [59]:
try:
    p1, p2, p3, p4 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

too many values to unpack (expected 4)

In [60]:
try:
    p1, p2, p3, p4, p5, p6 = 99, 88, 66, 77, 44
except ValueError as ex:
    print(ex)

not enough values to unpack (expected 6, got 5)

In [61]:
p = 99, 88, 66, 77, 44
print(f"p={p} type(p)={type(p)}")

p=(99, 88, 66, 77, 44) type(p)=<class 'tuple'>

#### flexible unpacking

In [62]:
n1, n2 = 1, 2, 3, 4, 5

ValueError: too many values to unpack (expected 2)

In [64]:
n1, *n2 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2}")

n1=1
n2=[2, 3, 4, 5]

In [65]:
n1, *n2, n3 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3}")  # n2 is of type list

n1=1
n2=[2, 3, 4]
n3=5